.popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  transition: all .3s;
  background-color: rgba($color-black, .8);

  // check if browser supports some property
  // this checks the same thing twice, that is not necessary, I added it to show how to add multiple conditions
  @supports(  backdrop-filter: blur(10px) ) or ( -webkit-backdrop-filter: blur(10px) ) {

    // instead of background color, this is a backckground blur!
    backdrop-filter: blur(10px); // brightness(), invert(), sepia()

    // if the background is blured, we will apply .4 opacity to background-color
    background-color: rgba($color-black, .4);

  }

  // make something dissapear
  opacity: 0;
  visibility: hidden;

  // when anchor (e.g. href="#1") pointing to el with the same id (e.g. id="1") is clicket, more preciselly,
  // when the url includes that anchor, that el can be selected as target
  // in css we can select the el with a class because the whole el is the target, both id and class point to it
  // we unselect the target el by just changing the target (only one el can be the target), e.g. the exit btn
  // points to href="#section-about"
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    
    &:link,
    &:visited {
      color: $color-gray-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      text-decoration: none;
      display: inline-block;
      font-size: 3rem;
      // line-height 1 because the x is just text 
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    background-color: $color-white;
    color: $color-white;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    overflow: hidden;
    color: $color-gray-dark;
    position: absolute;
    top: 50%;
    left: 50%;
    
    // here I can't use the mixin because I want 2 transforms on this el
    //@include position-absolute-center;
    
    // zoom in animation
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all .4s .2s; // we also added a delay .2s

    // 1. place child el next to each other with same height
    display: table;

    @include respond(tab-land) {
      width: 80%;
      text-align: center;
    }
  }

  &:target &__content {
  // zoom in animation
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  }

  &__left {
    width: 33.3333%;
    
    // 2. place child el next to each other with same height
    display: table-cell;
    vertical-align: middle;

    @include respond(tab-land) {
      display: table-row;
      width: 100%;
      height: 10rem;
      border: 1px solid red;
      overflow: hidden;
    }
  }

  &__right {
    width: 66.66667%;
    padding: 3rem 5rem;

    // 2. place child el next to each other with same height
    display: table-cell;
    vertical-align: middle;

    @include respond(tab-land) { 
      width: 100%;
      padding: 1rem 3rem 2rem 3rem;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-land) {
      float: left;
      width: 50%;
      display: inline-block;
      height: 20rem;
      background-size: cover;
    }

    @include respond(phone) {
      display: none;

      &:last-child {
        display: block;
        width: 100%;
        height: 25rem;
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    // NEWSPAPER / MAGAZINE DESIGN:

    // 1.
    // breaks word if at the end of line (e.g. booking to book - ing)
    // for this to work html has to have a language defined; e.g. <html lang="en">
    hyphens: auto;

    // 2.
    // columns
    column-count: 2;
    column-gap: 4rem; // default is 1em (1em = font-size of current el)
    column-rule: 1px solid $color-gray-light-2; // like a border

    @include respond(tab-land) {
      column-count: 1;
    }
  }

}