.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4); // x y blur color
    border-radius: 2px;
    position: absolute; // referenced to first parent el with position:relative
    z-index: 1;
    transition: all .2s, border-radius 1ms;

    // outer border (set here and on &:hover)
    outline-offset: 2rem;

    @include respond(tab-port) {
      position: relative;
      float: left;
      width: 33.3333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, .2);

    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include respond(tab-port) {
        top: -1rem;
        transform: scale(1.3);
        z-index: 100;
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;

      @include respond(tab-port) {
        top: 1rem;
        left: 0;
        transform: scale(1.1);
      }
    }

    &:hover {
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 2;
      border-radius: 0;

      // outer border (set here and in &__photo)
      outline: 1.5rem solid $color-primary; // smilar to border; but if el has bord-radius then that will apply to the outline as well
    }

  }

  // when composition is hovered, decrease the size of imgs that are not hovered
  &:hover &__photo:not(:hover) {
    transform: scale(.95);
  }

}